* {
    font-family: FontAwesome, "FantasqueSansM Nerd Font Mono", sans-serif;
    font-size: 16px;
}

window#waybar {
    background-color: rgba(30, 40, 50, 0.5);
    border: 2px solid rgba(20, 50, 60, 0.6);
    color: #fafffa;
    padding: 2px;
    margin: 2px;
}

#workspaces {
    padding: 3px;
    margin: 3px;
    background-color: rgba(30, 30, 30, 0.5);
}

#workspaces button {
    padding: 1px;
    margin: 1px;
    background-color: rgba(2, 2, 2, 0.1);
    color: #fafffa;
    border-radius: 2px;

    /* Avoid global GTK settings to set this */
    background-image: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    background-color: rgba(30, 30, 30, 0.5);
}

#workspaces button:hover {
    background-color: rgba(0, 100, 0, 0.5);
}

#workspaces button.empty {
    color: #babbba;
}

#workspaces button.visible {
    color: #babaff;
}

#workspaces button.active {
    color: #baffba;
}

#workspaces button.urgent {
    color: #ffbaba;
}

