/* WARNING: not all elements support margin or padding */

* {
    font-family: FontAwesome, "FantasqueSansM Nerd Font Mono", sans-serif;
    font-size: 16px;
}

.module {
    padding: 2px 10px;
    background-color: rgba(0, 30, 30, 0.9);
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
    color: #fafffa;
}

#workspaces {
    /* background-color: rgba(40, 40, 40, 0.5); */
}

#workspaces button {
    padding: 1px;
    background-color: rgba(2, 2, 2, 0.4);
    color: #fafffa;
    border-radius: 2px;

    /* Avoid global GTK settings to set this */
    background-image: none;
    border: none;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.focused {
    background-color: rgba(30, 30, 30, 0.5);
}

#workspaces button:hover {
    background-color: rgba(0, 100, 0, 0.5);
}

#workspaces button.empty {
    color: #babbba;
}

#workspaces button.visible {
    color: #babaff;
}

#workspaces button.active {
    color: #baffba;
}

#workspaces button.urgent {
    color: #ffbaba;
}

